/*******************
/ Blog List Style  /
*******************/
// Note: I replaced Grid with a Flexbox replacement grid to support IE11. Might as well do it all in Grid, but I commented the code for possible full support of Grid in all browsers in the Future.

.blog .content,
.archive .content {
  display: block;
  // Main Content Area
  h1 {
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;

    a {
      color: $black;
    }
  }

  .main {
    display: flex;
    flex-wrap: wrap;

    /* Creates an equal outer gap */

    /* grid-gap: 1.5rem;
    grid-template-columns: 1fr; */

    @include breakpoint(phablet) {
      padding: 1rem 0 0 1rem;

      /* grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem; */
    }

    @include breakpoint(laptop) {
      /* grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5rem; */
    }
  }

  .page-header {
    display: block;
    width: 100%;
    margin-bottom: 1rem;

    /* grid-column-start: 1;
    grid-column-end: -1; */
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;

    @include breakpoint(laptop) {
      max-width: 40vw;
    }
  }

  article {
    display: block;
    transition: margin 0.3s;

    @include breakpoint(phablet) {
      width: calc(99.9% / 2); /* calc() method */
      border: 0 solid $white;
      border-width: 0 1rem 1rem 0;
    }

    @include breakpoint(tablet) {
      width: calc(99.9% / 3); /* calc() method */
    }

    &:hover {
      margin-top: -0.4rem;
      margin-bottom: 0.4rem;
      background-color: $gray;
    }
  }
}
